{% extends 'index.html' %}
{% load staticfiles %}
{% load category_filter %}
{% block container %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Category</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Uploaded</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for book in book_list %}
                        <tr>
                            <td>{{ book.id }}</td>
                            <td>{{ book.category.name }}</td>
                            <td>{{ book.title }}</td>
                            <td>{{ book.auther }}</td>
                            <td><a href="/download-book/?book_id={{ book.id }}">{{ book.file_name }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}