{% extends 'base.html' %}
{% load staticfiles %}
{% load category_filter %}

{% block title %} Spartacus Text Search Application {% endblock %}

{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">SPARTACUS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">Category<span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for category in category_list|category_list %}
          <li><a href="/book-list/?category_id={{ category.id }}">{{ category.name }}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li><a href="/new_book/">Upload Document</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

{% block container %}
<form id="id_search_form" method="get" action="/pdf-to-text/">{% csrf_token %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
    		<h2>Enter the keyword</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" value="{{ request.GET.q }}" name="q" id="q" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
	<div class="row">
	    <div class="col-sm-8 col-sm-offset-2">
            <div class="checkbox-inline"><label><input type="checkbox" id="id_synonyms" name="synonyms">Synonyms</label></div>
            <div class="checkbox-inline"><label><input type="checkbox" id="id_antonyms" name="antonyms">Antonyms</label></div>
            <div class="checkbox-inline">Category: <select id="id_category" name="category">
                <option value="0">Select</option>
            {% for category in category_list|category_list %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
			</select></div>
            <div class="checkbox-inline">Document: <select id="id_book" name="book">
                <option value="0">Select</option>
			</select></div>
        </div>
    </div>
</div>
</form>
{% endblock %}
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        var book_list = {{ book_list | safe }}
        $('#id_category').on('change', function() {
            var bookObj = $('#id_book'), cat=$(this);
            $(bookObj).html('');
            $(bookObj).append($('<option value="0">Select</option>'));
            $.each(book_list, function(index, item) {
                if (parseInt($(cat).val()) === item.category_id) {
                    var opt = $('<option value="'+ item.id +'">' + item.title + '</option>');
                    $(bookObj).append($(opt));
                }
            });
        });
       $('#id_search_form').on('submit', function() {
           var search = '', url, is_synonyms = 0, is_antonyms = 0, category_id = '', book_id='';
           search = $('#q').val().trim();
           category_id = parseInt($('#id_category').val());
           book_id = parseInt($('#id_book').val());
           is_synonyms = $('#id_synonyms').is(':checked') ? 1 : 0;
           is_antonyms = $('#id_antonyms').is(':checked') ? 1 : 0;
           var error = false, msg='';

           if (!error && search.length === 0) {
               error = true;
               msg = 'Please enter keyword';
           }

           if (!error && category_id === 0) {
               error = true;
               msg = 'Please select category'
           }

           if (!error && book_id === 0) {
               error = true;
               msg = 'Please select book'
           }

           if (!error) {
               url = '/pdf-to-text/?q=' + search + '&is_synonyms=' + is_synonyms + '&is_antonyms=' + is_antonyms;
               url += '&category_id=' + category_id + '&book_id=' + book_id;
              window.location.href = url;
           } else {
               alert(msg);
           }
          return false
       });
    });
</script>
{% endblock %}
