{% extends 'index.html' %}
{% load staticfiles %}
{% load category_filter %}
{% block container %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form method="post" action="/new_book/" enctype="multipart/form-data">{% csrf_token %}
            <div class="new-book-page">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        {% if error %}
                            <span style="color: red">{{ msg }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h4>Upload New Document</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <select class="form-control" name="category">
                            <option value="">Select Category</option>
                            {% for category in category_list|category_list %}
                            {% if doc_category == category.id %}
                             <option value="{{ category.id }}" selected>{{ category.name }}</option>
                            {% else %}
                             <option value="{{ category.id }}">{{ category.name }}</option>
                             {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" name="document_title" class="form-control" placeholder="Document Title" value="{{ document_title }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" name="document_auther" class="form-control" placeholder="Document Auther (Optional)" value="{{ document_auther }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="exampleInputFile">Upload Document</label>
                        <input type="file" class="form-control-file" name="document_file"  aria-describedby="fileHelp">
                        <small id="fileHelp" class="form-text text-muted">The document file should be in pdf format.</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}