{% extends 'index.html' %}
{% load staticfiles %}
{% load category_filter %}
{% block container %}
<div class="container">
    <div class="row">
        <div class="col-sm-12"><strong>Total Pages:</strong> {{ pages }} <strong>Searched Keyword:</strong> {{ query }} {% if total_antonyms %}<strong>Antonyms:</strong> {{ total_antonyms }} {% endif %}
            {% if total_synonyms %}<strong>Synonyms:</strong> {{ total_synonyms }} {% endif %}</div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-group">
                {% if result %}
                    {% for page in result %}
                        <div class="panel panel-primary">
                            <div class="panel-heading">{{ page.page }} Keywords: {{ page.search_keyword }}</div>
                            <div class="panel-body">{{ page.data | safe }}</div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div>Keyword not found...</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}