{% extends 'base.html' %}

{% block title %} User Login {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <form method="post" action="/login/">{% csrf_token %}
            <div class="login-page">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h4> Login </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" name="username" class="form-control" placeholder="Username">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a href="/registration/">Register</a>
                    </div>
                    <div class="col-sm-8">
                        <a href="/registration/">Forgot Password ?</a>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}