{% extends 'base.html' %}

{% block title %} User Registration {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form method="post" action="/registration/">{% csrf_token %}
            <div class="login-page">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        {% if error %}
                            <span style="color: red">{{ msg }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h4> User Registration </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" name="first_name" class="form-control" placeholder="First Name" value="{{ first_name }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" name="last_name" class="form-control" placeholder="Last Name" value="{{ last_name }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="email" name="email" class="form-control" placeholder="Email" value="{{ email }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" name="username" class="form-control" placeholder="Username" value="{{ username }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="password" name="password" class="form-control" placeholder="Password" value="{{ password }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="password" name="confirm_password" class="form-control" placeholder="Confirm Password" value="{{ confirm_password }}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}